## Final Project: Retrieving Unique Weather Information with OpenWeatherMap API

For the final project, we will utilize the OpenWeatherMap API to retrieve unique weather information for a specific location. Instead of exporting the data to a CSV file, our goal will be to retrieve and display the weather information in a user-friendly format.

## Project Overview

In this project, we'll create a script that interacts with the OpenWeatherMap API to fetch weather data for a chosen location. We'll display the current weather conditions along with some unique weather information based on the API's available endpoints. This project will give you hands-on experience with making API requests, handling responses, and extracting relevant weather information.

Goals:

- Sign up for an OpenWeatherMap API key.
- Choose a specific location for which you want to retrieve weather information.
- Make an API request to fetch the current weather data for the chosen location.
- Extract and display the current temperature, humidity, and weather description.
- Utilize additional OpenWeatherMap API endpoints to retrieve unique weather information, such as the UV index, air pollution data, or weather maps.
- Format and display the retrieved weather information in a user-friendly way.

Feel free to explore the OpenWeatherMap API documentation to discover the available endpoints and data that can enhance your weather information display.

## Project Instructions

1. Sign up for an OpenWeatherMap account by visiting [https://openweathermap.org](https://openweathermap.org) and creating a new account if you don't already have one.

2. Once you have an account, generate an API key following the instructions provided in the previous section (if you have not already).

3. Set up your Python environment and install the necessary packages, including `requests` and `dotenv`. Create a .env file which contains your API_KEY and it's value as a key-value pair

4. Import the required libraries in your Python script.

5. Load your OpenWeatherMap API key from the environment variables using `load_dotenv()` and `os.getenv()`.

6. Choose a specific location for which you want to retrieve weather information. You can specify the location using city name, coordinates, or OpenWeatherMap's unique city ID.

7. Construct the API request URL to fetch the current weather data for the chosen location. Include your API key as a query parameter in the URL.

8. Make an API request to the OpenWeatherMap API using `requests.get()` and the constructed URL.

9. Handle any potential errors that may occur during the API request using try/except blocks.

10. Extract the relevant weather information from the API response, such as the current temperature, humidity, and weather description.

11. Format and display the retrieved weather information in a user-friendly way. You can print it to the console or use a graphical interface if you prefer.

12. Run your Python script and test it by retrieving weather information for the chosen location.

13. Enhance your project by adding more features, such as handling multiple locations, displaying weather icons, providing weather forecasts, or incorporating data visualization.

Remember to document your code with comments to explain the purpose and functionality of each section.

In [1]:
import requests
from dotenv import load_dotenv
import pandas as pd
import json
import os

In [2]:
%load_ext dotenv
%dotenv

In [4]:
api_key = os.getenv('API_KEY')

In [13]:
# with gzip.open("city.list.json.gz", "rb") as f:
#     data = json.loads(f.read().decode("utf-8"))

In [18]:
# us_cities = [dic for dic in data if dic.get('country')=='US']

In [23]:
# us_data = pd.DataFrame(us_cities)
# us_data.head()

,id,name,state,country,coord
0,4046255.0,Bay Minette,AL,US,"{'lon': -87.773048, 'lat': 30.882959}"
1,4046274.0,Edna,TX,US,"{'lon': -96.646088, 'lat': 28.97859}"
2,4046319.0,Bayou La Batre,AL,US,"{'lon': -88.24852, 'lat': 30.403521}"
3,4046332.0,Henderson,TX,US,"{'lon': -94.799377, 'lat': 32.153221}"
4,4046430.0,Natalia,TX,US,"{'lon': -98.862534, 'lat': 29.18968}"

In [24]:
# us_data[us_data['state']=='NY']

,id,name,state,country,coord
8332,4833098.0,Camillus,NY,US,"{'lon': -76.3041, 'lat': 43.03923}"
8333,4833108.0,Clyde,NY,US,"{'lon': -76.8694, 'lat': 43.084229}"
8335,4833272.0,Wayland,NY,US,"{'lon': -77.589706, 'lat': 42.567841}"
8336,4833276.0,Watervliet,NY,US,"{'lon': -73.701233, 'lat': 42.73008}"
12264,5106734.0,Adams,NY,US,"{'lon': -76.024094, 'lat': 43.809231}"
...,...,...,...,...,...
19682,7258945.0,Saugerties South,NY,US,"{'lon': -73.950668, 'lat': 42.06139}"
19683,7258965.0,Setauket-East Setauket,NY,US,"{'lon': -73.101784, 'lat': 40.930641}"
19926,7706672.0,Morley Mobile Home Park,NY,US,"{'lon': -75.488693, 'lat': 44.67506}"
19959,8085328.0,Level Acres Mobile Home Park,NY,US,"{'lon': -77.925407, 'lat': 42.092098}"
19960,8087162.0,Sarosca Farm Estates,NY,US,"{'lon': -73.721672, 'lat': 41.049438}"

In [45]:
# Choose a specific location for which you want to retrieve weather information. 
# You can specify the location using city name, coordinates, or OpenWeatherMap's unique city ID.

# Construct the API request URL to fetch the current weather data for the chosen location. 
# Include your API key as a query parameter in the URL.

# Make an API request to the OpenWeatherMap API using requests.get() and the constructed URL.

city = input("PICK YOUR CITY: ")
url = (f"https://api.openweathermap.org/data/2.5/weather?q={city},US&APPID={api_key}")


# Sending an API request
request = requests.get(url)

# Check status code for API request
print(request.status_code)
print(request.text)

PICK YOUR CITY: Saugerties South
200
{"coord":{"lon":-73.9507,"lat":42.0614},"weather":[{"id":803,"main":"Clouds","description":"broken clouds","icon":"04d"}],"base":"stations","main":{"temp":298.1,"feels_like":298.09,"temp_min":296.41,"temp_max":299.27,"pressure":1003,"humidity":55,"sea_level":1003,"grnd_level":999},"visibility":10000,"wind":{"speed":3.37,"deg":296,"gust":4.87},"clouds":{"all":62},"dt":1686865701,"sys":{"type":2,"id":2033439,"country":"US","sunrise":1686820769,"sunset":1686875586},"timezone":-14400,"id":7258945,"name":"Saugerties South","cod":200}

In [52]:
json.loads(request.text).keys()

dict_keys(['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'])

In [28]:
# Handle any potential errors that may occur during the API request using try/except blocks.
def get_city_weather_data(city, key, key2):
    """ 
    pass the city and data key for which you would like weather data.
    
    Possible Keys:
    
    coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod'
    
    """
    
    # Catch an invalid data key
    acceptable_keys = ['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod']
    if key in acceptable_keys:
        try:
            api_key = os.getenv('API_KEY')
            url = (f"https://api.openweathermap.org/data/2.5/weather?q={city},US&APPID={api_key}")
            request = requests.get(url)
            return json.loads(request.text)[key]
        # Catch an invalid city returning an empty call.
        except KeyError as e:
            print("Invalid city")
    else:
        print(f'Invalid keys acceptable keys are {acceptable_keys}')

In [33]:
get_city_weather_data(city='madrid', key='coord', key2='main')

TypeError: get_city_weather_data() got an unexpected keyword argument 'key2'

In [30]:
get_city_weather_data(city='deez', key='deez')

Invalid keys acceptable keys are ['coord', 'weather', 'base', 'main', 'visibility', 'wind', 'clouds', 'dt', 'sys', 'timezone', 'id', 'name', 'cod']